@import pojos.{User}
@import pojos.Event
@(event: Event, count: Int)

@main("Welcome to Ticket Agency") {
  @defining(play.core.PlayVersion.current) { version =>

    <div class="wrapper doc">
      <article>
        <h1>Event Detail</h1>

        <table border="1">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Rest Tickets</th>
            <th>Total Tickets</th>
          </tr>

            <tr>
              <td>@event.name</td>
              <td>@event.event_type</td>
              <td>@count</td>
              <td>@event.tickets.length</td>
            </tr>
        </table>

      </article>
      <aside>
      @sidebar()
      </aside>
    </div>
  }
}