@(userName : String, ticketInfo : String)

@main("Welcome to Ticket Agency") {
    @defining(play.core.PlayVersion.current) { version =>

        <div class="wrapper doc">
            <article>
                <h1>Congratulation, @userName! You purchased Ticket: @ticketInfo</h1>

                <form method="post" action="/userPage">
                    <input type="hidden" name="name" value="@userName"/>
                    <input type="hidden" name="password" value="123456"/>
                    <input type="submit" value="Go to User Page"/>
                </form></br>

            </article>
            <aside>
            @sidebar()
            </aside>
        </div>
    }
}